.bar-1{
  width: 3.8%;
  margin: 5% 1px;
  display: inline-block;
  /*position: relative;
  /* top: 10%;
  bottom: 10%; */
}

.bar-1:first-child:nth-last-child(n - 80) ~ .bar-1{
  width: 0.8%;
}

.bar-container-div{
  text-align: center;
  background-color: grey;
  overflow: auto;
  float: left; 
  position: relative;
  height: 40rem;
  min-width: 100%;
  white-space: nowrap;
  }
